.container {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.text {
  display: flex;
  flex-direction: column;
  font-size: 0.95em;
  font-weight: 500;
}

.input {
  padding: 0 5px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid grey;
}
.margin {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  width: 80px;
}
